.console{
    min-height: 200px;
    height: max-content;
    max-height: 300px;
    width: 400px;
    margin: 0 auto 0 auto;
    border: 2px solid #000000;

}

.menu{
    height: 100px;
    width: 350px;
    margin: 20px auto 0 auto;

}

.menu ul{
    width: max-content;
    padding: 0;
    margin: 0 auto 0 auto;
}

.menu ul li{
    position: inherit;
    display: inline-block;
}

.menu ul li input{
    background-color: chocolate;
    color: black;
    border: 1px solid #000000;
    display: block;
    height: 50px;
    width: 78px;
}

.menu ul li input:hover{
    background-color: #e3a27a;
}

.sizeDefiner{
    position: relative;
    top: 10px;
    left: 13px;

    height: 20px;
    width: 250px;

    /*border: 1px solid black;*/
}

.sizeDefiner .line{
    height: 0px;
    width: 250px;
    position: absolute;
    left: 0px;
    top: 10px;
    border-bottom: 1px solid black;
}

.sizeDefiner .button{
    position: inherit;

    height: 20px;
    width: 20px;

    margin: 0;

    border: 1px solid black;
    border-radius: 100px;
}




