/* Foreground: */
.foreground h1{
  text-decoration: underline;}

/* color name */
.foreground h2 {
color: DarkCyan;}
/* hex code */
.foreground h3 {
color: #FC2C6D;}
/* rgb value */
.foreground p {
color: rgb(100,100,90);}

/* Background: */
.background{
  padding: 10px;
  font-family: arial;
  background-color: rgb(200,200,200);}

.background h2 {
  color: rgb(500,500,500);
  background-color: DarkCyan;}

.background h3 {
  color: rgb(500,500,500);
  background-color: #ee3e80;}
.background p {
  color: rgb(100,100,100);
  background-color: white;}


/* Opacity: */
#sqr1{
  height: 200px;
  width: 200px;
  background-color: #ee3e80;
}

#sqr2{
  position: relative;
  left: 100px;
  bottom: 100px;
  height: 200px;
  width: 200px;
  background-color: black;
  opacity: 0.5;
}

/* Text: */

.example{
  line-height: 1.4em;
  font-family: arial;
}

#txthead{
  font-size: 150%;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: bold;
}
#langs{
  font-style: italic;
}

#name{
  text-decoration:underline;
}

#newline:first-letter{
  font-size: 200%;}

#newline:first-line{
  font-weight: bold;}

/* Boxes */
.boxes div.box {
  height: 300px;
  width: 300px;
  background-color: #bbbbaa;}
.boxes .box p {
  height: 75%;
  width: 75%;
  background-color: #0088dd;}

.boxes td.fst {
  min-width: 450px;
  max-width: 650px;
  text-align: left;
  padding: 5px;
  margin: 0px;}

/** { outline: 2px dotted red; }
* * { outline: 2px dotted green; }
* * * { outline: 2px dotted orange; }
* * * * { outline: 2px dotted blue; }
* * * * * { outline: 1px solid red; }
* * * * * * { outline: 1px solid green; }
* * * * * * * { outline: 1px solid orange; }
* * * * * * * * { outline: 1px solid blue; }*/
